{{!-- <li class="article-list__item" data-id="{{id}}">
    <img class="article-image" src="https://image.tmdb.org/t/p/w400{{backdrop_path}}" alt="movie poster image" width="298">
    <div>
      <h2 class="film-title">{{title}}</h2>
      <p class="film-vote">{{vote_average}}</p>
    </div>
    <div class="inner"></div>
</li> --}}

<li class="films-list__item" data-id="{{id}} data-name=""">
  <img class="article-image" src="https://image.tmdb.org/t/p/w400/{{backdrop_path}}" alt="movie poster image">
  <div>
    <h2 class="film-title">{{title}}</h2>
  </div>
  <div class="inner"></div>
  <div class="vote">{{vote_average}}</div>
</li>
